[Unit]
Description=Daily Health Report Service
After=network.target

[Service]
Type=oneshot
User=soufiane
WorkingDirectory=/home/soufiane/linux-health-monitor
ExecStart=/home/soufiane/linux-health-monitor/log_analyzer.sh
